@model IEnumerable<SuperHero.DATA.EF.Cours>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Address)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                {
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) @:|
                }
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID })
                    @if (User.IsInRole("Admin"))
                {
                        @:| @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                }

                </td>
            </tr>
        }
    </tbody>
</table>

@section styles{
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
}
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}
