@model IEnumerable<SuperHero.DATA.EF.Character>

@{
    ViewBag.Title = "Heroes";
}


@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table" id="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHero)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CharacterImage)*@
                    <img id="indeximg" src="@Url.Content("~/Content/Images/Heroes/" + item.CharacterImage)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                {
                        @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) @:|
                }
                    @Html.ActionLink("Details", "Details", new { id = item.CharacterID })
                    @if (User.IsInRole("Admin"))
                {
                        @:| @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
                }

                </td>
            </tr>
        }
    </tbody>
</table>

@section styles{
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
}
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}
